.App .weather-app {
  position: relative;
  top: 30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 35px 30px;
  border-radius: 10px;
  background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  font-family: "Baloo Tammudu 2", cursive;
}

footer {
  text-align: center;
}
