.Weather {
  margin: 30px auto;
  max-width: 650px;
  padding: 35px 30px;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.Weather h1 {
  font-size: 45px;
  font-weight: bolder;
  line-height: 60px;
  margin-bottom: 0;
}

.Weather ul {
  list-style: none;
  padding: 0%;
}

.Weather li {
  font-size: 14px;
  font-weight: lighter;
  line-height: 17px;
}

.Weather .temperature {
  font-size: 70px;
  font-weight: bold;
}

.Weather canvas {
  display: inline-block;
  position: relative;
}

.Weather .current-temp {
  display: inline-block;
  position: relative;
}

.Weather .unit {
  font-size: 18px;
  position: relative;
  bottom: 30px;
}
